<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista rate</title>
</head>
<body>
{%block contenido%}
<section>
 <div>
   <h1>Lista de act</h1>
   <a href="{% url 'lista_serie' %}">Ver todos</a>
   <a href="{% url 'crear_serie' %}">Crear nuevo</a>
   <br><br>
   <form action="{% url 'buscar_serie' %}" method="post">
     {% csrf_token %}
     <input type="text" name="busqueda">
     <input type="submit" value="Buscar">
   </form>
   <br>
   <ul>
   {% for serie in rev_peliculas %}
     <li>{{ serie.nombre }}, {{ serie.puntaje }}</li>
   {% endfor %}
   </ul>
 </div>
</section>
{% endblock contenido %}

</body>
</html>